.box {
    font-family: 'Spartan', sans-serif;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.box:before {
    content: "";
    background: repeating-linear-gradient(to right, transparent, transparent 10px, #fff 10px, #fff 20px);
    width: 0;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%) scale(1.7) rotate(45deg);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.box:hover:before {
    width: 100%;
    opacity: 0.2;
    transform: translateX(-50%) scale(1) rotate(0);
}

.box img {
    width: 100%;
    height: auto;
    transition: all 0.4s ease-out;
}

.box:hover img {
    filter: blur(5px);
}

.box .box-content {
    color: #fff;
    background: linear-gradient(#FF416C, #FF4B2B);
    text-align: center;
    width: 250px;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(2);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transition: all 0.4s ease-out;
}

.box:hover .box-content {
    opacity: 0.85;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.box .title {
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 2px;
}

.box .post {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 15px;
    display: block;
}

.box .icon {
    padding: 0;
    margin: 0;
    list-style: none;
}

.box .icon li {
    display: inline-block;
    margin: 0 4px;
}

.box .icon li a {
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 29px;
    height: 30px;
    width: 30px;
    border: 2px dashed #fff;
    display: block;
    transition: all 0.3s ease 0s;
}

.box .icon li a:hover {
    border-radius: 15px;
}

@media only screen and (max-width:990px) {
    .box {
        margin: 0 0 30px;
    }
}