.progress-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
}

.progress {
    height: 30px;
    border-radius: 0;
    overflow: visible;
    position: relative;
}

.progress .progress-bar {
    border: none;
    box-shadow: none;
    -webkit-animation: 1s linear 0s normal none infinite running progress-bar-stripes, animate-positive 1s;
    animation: 1s linear 0s normal none infinite running progress-bar-stripes, animate-positive 1s;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}