.product-grid {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.product-grid .product-image {
    border: 0.5px solid #ebebeb;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}

.product-grid .product-image:hover {
    border-color: #00bbd3;
}

.product-grid .product-image a.image {
    display: block;
}

.product-grid .product-image img {
    width: 100%;
    height: auto;
}

.product-image .pic-1 {
    transition: all 0.5s ease-out 0s;
}

.product-image:hover .pic-1 {
    opacity: 0;
    transform: rotateY(-90deg);
}

.product-grid .product-image .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotateY(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-out 0s;
}

.product-image:hover .pic-2 {
    opacity: 1;
    transform: rotateY(0deg);
}

.product-grid .product-discount-label,
.product-grid .product-new-label {
    color: #fff;
    background: #00bbd3;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 75px;
    padding: 1px 15px;
    transform: rotate(45deg);
    position: absolute;
    right: -20px;
    top: 10px;
}

.product-grid .product-new-label {
    transform: rotate(-45deg);
    background: #000;
    left: -20px;
    right: auto;
}

.product-grid .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(50%);
    position: absolute;
    right: 15px;
    bottom: 50%;
    transition: all .4s ease;
}

.product-grid .product-image:hover .product-links {
    opacity: 1;
}

.product-grid .product-links li {
    margin: 0 0 12px;
    transition: all 0.3s ease 0s;
}

.product-grid .product-links li:nth-child(1),
.product-grid .product-links li:nth-child(2) {
    transform: translateX(-40px);
}

.product-grid .product-links li:nth-child(3),
.product-grid .product-links li:nth-child(4) {
    transform: translateX(40px);
}

.product-grid .product-image:hover .product-links li {
    transform: translateX(0);
}

.product-grid .product-links li:last-child {
    margin: 0;
}

.product-grid .product-links li a {
    color: #fff;
    background-color: #000;
    font-size: 16px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    display: block;
    position: relative;
    transition: all 0.4s ease 0s;
}

.product-grid .product-links li a:hover {
    background: #00bbd3;
}

.product-grid .product-links li a:before,
.product-grid .product-links li a:after {
    content: attr(data-tip);
    color: #fff;
    background: rgba(0, 187, 211, 0.85);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateY(-50%);
    position: absolute;
    right: 45px;
    top: 50%;
    transition: all 250ms ease-in-out 0s;
}

.product-grid .product-links li a:after {
    content: '';
    background: linear-gradient(225deg, rgba(0, 187, 211, 0.9) 50%, transparent 50%);
    height: 10px;
    width: 10px;
    padding: 0;
    transform: translateY(-50%) rotate(45deg);
    right: 41px;
    z-index: -1;
}

.product-grid .product-links li a:hover:before,
.product-grid .product-links li a:hover:after {
    display: block;
}

.product-grid .product-content {
    padding: 15px 10px 0;
}

.product-grid .title {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 5px;
}

.product-grid .title a {
    color: #444;
    transition: all 0.3s ease 0s;
}

.product-grid .title a:hover {
    color: #00bbd3;
}

.product-grid .price {
    color: #00bbd3;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 1px;
}

.product-grid .price span {
    color: #999;
    text-decoration: line-through;
}

.product-grid .rating {
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-grid .rating li {
    color: #00bbd3;
    font-size: 12px;
}

.product-grid .rating li.far {
    color: #999;
}

@media screen and (max-width: 990px) {
    .product-grid {
        margin: 0 0 30px;
    }
}